<div *ngIf="student.length > 0" class="container mt-5">
    <h3 class="text-center mb-4">List of Students: {{ student.length }}</h3>
  
    <div *ngFor="let s of student" class="list-group mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
                <img src="./assets/images/{{ college }}.jpg" alt="{{ college }}" class="img-fluid rounded" height="200px" width="250px">
            </div>
            <div class="col-md-7">
              
              <h4 class="text-primary">Name: {{ s.studentname }}</h4>
              <p class="text-muted">DOB: {{ s.studentdateOfBirth | date:'longDate' }}</p>
              <p class="text-muted">Class: {{classname}}</p>
              <p class="text-muted">Department: {{ department }}</p>
              <p class="text-muted">College: {{ college }}</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  